
.header{
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 10vh;
    background: linear-gradient(90deg, rgb(162, 42, 241), rgb(110, 1, 182)) ;
    color: white;
    box-shadow: 0 5px 20px #0003,
    0 5px 40px #0003;
}

.header>h1{
    margin: 0;
    margin-left: 4rem;
}

.header>button{
    font-weight: bolder;
    color: rgb(110, 1, 182);
    margin-right: 4rem;
    padding: .5rem;
    height: 2.2rem;
    width: 5rem;
    border-radius: 1rem;
    background: white;
    border: none;
    transition: .2s;
}
.header>button:hover{
    box-shadow: 0 0 25px white;
}